<%
// Simula sections: define variáveis com o conteúdo dos blocos
var body = `
<div class="py-2 px-3 mb-3 mt-1">
  <div class="text-center">
    <img class="img img-responsive" src="${base_url()}/assets/images/logo.png" width="100%" />
  </div>
  <h5 class="fw-bold mb-1 mt-5">Entrar</h5>
</div>

<form novalidate class="bs-validate" method="POST" action="${base_url()}/auth">

  <!-- email address -->
  <div class="form-floating mb-3">
    <input required type="text" class="form-control" id="account_user" name="account_user" placeholder="Usuário" require>
    <label for="account_user">Usuário</label>
  </div>

  <!-- password -->
  <div class="form-floating mb-3">
    <input required type="password" class="form-control" id="account_passwd" name="account_passwd" placeholder="Senha" autocomplete="new-password" require>
    <label for="account_passwd">Senha</label>
  </div>

  <!-- submot button -->
  <div class="d-grid mb-3">
    <button type="submit" class="btn btn-secondary">
      <span>Entrar</span>
      <svg class="rtl-flip" width="18px" height="18px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
      </svg>
    </button>
  </div>
</form>
<div class="py-2 px-3 mb-3 mt-1">
  <div class="text-center">
    <!-- <img class="img img-responsive" src="${base_url()}/assets/images/logo_cloudid.svg" width="33%" /> -->
  </div>
</div>
`;
%>
<%- include('../layouts/auth', { title, flash, body}) %> 