<div class="offcanvas offcanvas-end" style="width:500px" tabindex="-1" id="offcanvasDemos"
    aria-labelledby="offcanvasDemosLabel">

    <!-- offcanvas : header -->
    <div class="offcanvas-header border-bottom">
        <div class="offcanvas-title lh-1" id="offcanvasDemosLabel">
            <span class="d-block fs-4 mb-1 text-danger-gradient fw-bold">Smarty 5</span>
            <span class="d-block small fw-medium">Frontend + Admin</span>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <!-- 

        offcanvas : body 

        content loaded via ajax.
        Remove .js-ajax class and data-ajax-url for non-ajax 

      -->
    <div class="offcanvas-body p-4 p-xl-5 js-ajax" data-ajax-url="_ajax/offcanvas_demos.html">
        <!-- data loaded via ajax -->
    </div>

</div>