<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1><%= mensagem %></h1>
    <p>Data: <%= data %></p>
    <p>Hora: <%= hora %></p>
</body>
</html> 